html,
body,
#map_canvas {
  height: 400px;
  width: 600px;
  margin: 0px;
  padding: 0px;
}

#win-display{
  color: #ffffff;
}

#result-display{
  color: #ffffff;
}

#weather-display{
  color: #ffffff;
}

#coordinates-display{
  color: #ffffff;
}

.container {
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 32px;
	border-radius: 5px;
	transition: 0.5s;
	margin: 10px;
	color: #fff;
	background-color: #0b5f7a;
  }
  
  .container:hover {
	  color: #fff;
	  background: #699aaa;

}

.map_canvas {
	height: 500px;          
	width: 700px;
	border-block-end-style: outset;
	border-radius: 30px;
  }