html, body{
	background-image: url("../images/intro-background.jpg");
	background-size: 100%
}

.jumbotron{
	padding: 10px;
	background-color: black;
	color: white;
	height: 70px;
	float: top;
}

.container {
		float: top;
		float: right;
	}

a {
	float: top;
	float: right;
}

#gifs-view {
float: right;
margin: 10px;
margin-right: 30px;
}

#clue-display {
	font-size: 20px;
	color: yellow;
	background-color: transparent;
	padding: 10px;
}
#map_canvas {
	height: 600px;          
	width: 700px;
	border-radius: 50px;
	margin: 20px;
	float: right;
}

#win-display{
	background-color: transparent;
	color: rgb(250, 3, 3);
	font-size: 100px;
	padding: 10px;
	margin-left: 100px;
	float: right;
}

#result-display{
	background-color:transparent;
	color: rgb(3, 250, 3);
	font-size: large;
	margin-left: 700px;
}

.btn-primary {
	font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 5px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background-color: #0b5f7a;
}

.btn-primary:hover {
	color: #fff;
	background: #699aaa;
}